<div class="container-fluid d-flex justify-content-end align-items-center py-3 navbar">
	<form class="w-25 me-3">
		<input type="search" class="searchbar" placeholder="Search..." aria-label="Search">
	</form>

	<h4 class='me-3'>
		<a href="#" class='text-white'>
			<i class="bi bi-gear-fill"></i>
		</a>
	</h4>
</div>
