<div class="d-flex flex-column flex-shrink-0 p-3 text-white sidebar" style="width: 280px;min-height:100vh;">
	<a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
		<img class='logo' src="/images/spglogo.png">
		<span class='app-title'>
			<b>Symfony</b>
			<br>
			Project Generator
		</span>
	</a>
	<hr>
	<ul class="nav nav-pills flex-column mb-auto">
		<li class="nav-item">
			<a href="#" class="nav-link add-button" aria-current="page">
				<svg class="bi me-2" width="16" height="16">
					<use xlink:href="#home"></use>
				</svg>
				<i class="bi bi-plus-circle button-icon"></i>
				Create project
			</a>
		</li>

		<li>
			<a href="#" class="nav-link text-white">
				<svg class="bi me-2" width="16" height="16">
					<use xlink:href="#people-circle"></use>
				</svg>
				<i class="bi bi-code-square button-icon"></i>
				Projects
			</a>
		</li>
	</ul>
</div>
